

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex; /* or inline-flex */
}

.catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  flex-wrap: wrap;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: 30%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  width: 220px;           /* Set a fixed width for each product card */
  box-sizing: border-box; /* Ensure padding/border included in width */
  border-radius: 5px;
  background-color: #f9f9f9; /* Light background for product cards */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: transform 0.2s; /* Smooth scaling effect */
}

.product-image{
  max-width: 100%;
  height: auto;
}
.supplier-name{
  align-items: stretch ;
}

/* Add this to the parent container for products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the left */
  gap: 16px;                   /* Space between product cards */
}

button{
  margin: 10px;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease;
  
}

.remove-cart{
  background-color: rgb(255, 109, 109);
  padding: 5px;
}
.remove-cart:hover{
  background-color: rgba(255, 109, 109, 0.8);
}

.checkout{
  background-color: rgb(68, 173, 68);

}
.checkout:hover{
  background-color: rgba(68, 173, 68, 0.8);

}

.add-to-cart{
  background-color: rgb(65, 65, 223);


}
.add-to-cart:hover{
  background-color: rgba(65, 65, 223, 0.8);


}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
